<h1>Cadastre seu livro</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o nome do livro">
    </div>
    <div class="form-control">
        <label for="nm_pag">Qauntidades de páginas</label>
        <input type="text" name="nm_pag" placeholder="Ex:550 Pág.">
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>